---
---

@import "{{ site.theme }}";

/* Test to see if CSS is loading */
.view img {
  border: 10px solid red !important;
}

header img {
  border: 10px solid red !important;
}

/* Try to target any image */
img {
  border: 5px solid blue !important;
}
